body,
html {
  height: 100%;
  margin: -10px 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

h3 {
  color: #FF0507;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  width: 300px;
  height: 30px;
  margin-left: 50px;
  margin-right: 50px;
  outline: none;
  border: 2px solid #2c3e50;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #2c3e50;

}

.container {
  /*height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  opacity: 0.8;
  width: 450px;*/
  height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  opacity: 0.8;
  width: 450px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: auto;
  height: 100vh;
}

.item {
  color: #3E0000;
  font-weight: 700;
  cursor: pointer;
}

.item:hover {
  color: #FF6508;
}

#map {
  /*bottom: 0px;
  height: 100%;
  left: 450px;
  position: absolute;
  right: 0px;*/
  overflow: hidden;
  position: fixed!important;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

#pano {
  width: 300px;
  height: 300px;
}
