body,
html {
  height: 100%;
  margin: -10px 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

h3 {
  color: #606062;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  outline: none;
  border: 2px solid #ED3237;
  background-color: #ED3237;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
}

input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.container {
  background-color: #fff;
  border-radius: 3px;
  opacity: 0.9;
  width: 450px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: auto;
  height: 100vh;

}

.item {
  color: #D69345; /*#BD897E;*/
  font-weight: 700;
  cursor: pointer;

}

.item:hover {
  color: #373435;
  font-weight: 400;
}

#map {
  overflow: hidden;
  position: fixed!important;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

#pano {
  width: 300px;
  height: 300px;
}

#close-btn {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}
