body,
html {
  height: 100%;
  margin: -10px 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

h3 {
  color: #606062;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  overflow: auto;
  height: calc(100vh - 100px);
}

#search {
  width: 90%;
  height: 50px;
  margin-left: 5%;
  outline: none;
  border: 2px solid #ED3237;
  background-color: #ED3237;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
}

#search::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  width: 450px;
  position: fixed;
  top: 0px;
  left: -450px;
  z-index: 1;
  height: 100vh;
  transition: left 500ms;
  -webkit-transition: left 500ms;

}

.container.is-visible {
  left: 0px;
}

@media(max-width: 500px) {
  .container {
    width: 250px;
    left: -250px;
    font-size: 14px;
  }

  h3 {
    font-size: 17px;
  }

  #search {
    height: 35px;
    font-size: 11px;
    letter-spacing: 0px;
  }
}

.item {
  color: #D69345;
  font-weight: 700;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  border: 1px solid #f8d4a9;
  margin-bottom: 5px;
  padding: 10px;
}

.item:hover {
  color: #373435;
  font-weight: 400;
}



#map {
  overflow: hidden;
  position: fixed!important;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

#pano {
  width: 300px;
  height: 300px;
}

#toggle {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  right: -45px;
  height: 45px;
  line-height: 45px;
  width: 45px;
  color: #ED3237;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin: 0px;
}
